{:kotoba.app/id "cloud.itonami.isic-1311", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidi7ezor6nulrcviykj5poqzilxikjs2kmrkxxae2uzc4gjmgisku", :kotoba.app/embed-url "ipfs://bafkreidi7ezor6nulrcviykj5poqzilxikjs2kmrkxxae2uzc4gjmgisku", :published {:archive "https://kotobase.net/ipfs/bafkreidi7ezor6nulrcviykj5poqzilxikjs2kmrkxxae2uzc4gjmgisku", :size 72666, :put-status 201, :get-status 200, :at "2026-08-15T13:37:30.060Z"}}
